:root {
  --gutter-width: #{$spacing-medium};
  --outer-margin: #{$spacing-medium};
  --xs-min: #{$breakpoint-xs};
  --sm-min: #{$breakpoint-sm};
  --md-min: #{$breakpoint-md};
  --lg-min: #{$breakpoint-lg};
}

@custom-media --sm-viewport only screen and (min-width: #{$breakpoint-sm});
@custom-media --md-viewport only screen and (min-width: #{$breakpoint-md});
@custom-media --lg-viewport only screen and (min-width: #{$breakpoint-lg});

body {
  background: $main-gradient;
}

h1 {
  font-size: 1.4rem;
}

p {
  font-size: 0.8rem;
  font-weight: 400;
}

.main {
  & > *:not(:first-child) {
    margin-top: $spacing-large;
  }

  & > *:last-child {
    margin-bottom: $spacing-large;
  }
}

.container-fluid, .container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: var(--outer-margin, $spacing-medium);
  padding-left: var(--outer-margin, $spacing-medium);
  max-width: var(--lg-min, 75rem);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  &--one, &--two {
    border-radius: $content-border-radius;
    padding: $spacing;

    h1, h2, h3, h4, h5 {
      display: block;
      margin-top: -0.15em;
      margin-bottom: -0.35em;
    }
  }
}

.box--one {
  background: $content-bg;
  background-blend-mode: $content-bg-blend;
  backdrop-filter: $content-bg-filter;
  color: $color-neutral;
}

.box--two {
  background: $content-bg-alt;
  backdrop-filter: $content-bg-filter-alt;

  h1, h2, h3, h4, h5 {
    color: $color-one;
  }
}

.button {
  display: inline-block;
  background-color: $color-neutral;
  color: $color-two;
  font-family: $font-family-headings;
  padding: $spacing * 0.5 $spacing;
  border-radius: $content-border-radius;
  font-weight: bold;
  text-decoration: none;
  line-height: 1;
  border: 2px solid white;
  box-sizing: border-box;

  &:hover {
    background-color: $color-two;
    color: $color-neutral;
    transition: 0.4s;
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}

.main {
  margin-top: $spacing-xlarge;
}

