$color-neutral: #fff;
$color-neutral-text: #240e44;
$color-one: #38146a;
$color-one-text: #fff;
$color-two: #7e187c;
$color-two-text: #fff;
$color-three: #240e44;
$color-three-text: #fff;

$content-bg: rgba(0, 0, 0, 0.4);
$content-bg-blend: darken;
$content-bg-filter: blur(10px);

$content-bg-alt: rgba(255, 255, 255, 0.9);
$content-bg-blend-alt: none;
$content-bg-filter-alt: blur(5px);

$content-border-radius: 17px;

$spacing: 1rem;
$spacing-medium: $spacing * 2;
$spacing-large: $spacing-medium * 2;
$spacing-xlarge: $spacing-large * 2;

$breakpoint-xs: 576px;
$breakpoint-sm: 768px;
$breakpoint-md: 1080px;
$breakpoint-lg: 1600px;

$content-width: 1600px;

$main-gradient: linear-gradient(90deg, $color-two 0%, $color-one 100%);

