$color-neutral: #fff;
$color-neutral-text: #240e44;
$color-one: #38146a;
$color-one-text: #fff;
$color-two: #7e187c;
$color-two-text: #fff;
$color-three: #240e44;
$color-three-text: #fff;

$font-size-320: 18px;
$font-size-768: 22px;
$font-size-992: 26px;
$font-size-1200: 30px;
$font-size-1500: 34px;


$spacing: 1rem;
$spacing-medium: $spacing * 2;
$spacing-large: $spacing-medium * 2;
$spacing-xlarge: $spacing-large * 2;
