.contact {
  a {
    color: $color-one-text;
  }

  &__details {
    ul, li {
      margin: 0;
      padding: 0;
      list-style: none;
      text-align: center;
      font-size: 1.2rem;
    }
  }

  &__form {
    margin-top: 1rem;
    display: block;
    background-color: $color-one;
    padding: $spacing;
    border-radius: $spacing;

    label {
      display: grid;
      grid-template-columns: 5rem auto;

      span {
        font-size: 1rem;
        display: block;
      }
    }

    label.contact__send {
      display: block;
    }

    form {
      display: block;

      > *:not(:first-child) {
        margin-top: 0.5rem;
      }
    }

    input, textarea, button {
      width: 100%;
      padding: 0.25rem;
      font-size: 0.6rem;
      box-sizing: border-box;
      font-family: $font-family;
    }

    textarea {
      height: 3rem;
    }

    button {
      background-color: $color-two;
      border: none;
      color: $color-two-text;
      cursor: pointer;
      font-size: 1rem;

      &:hover {
        background-color: $color-two-text;
        color: $color-two;
      }
    }
  }
}

@media (min-width: 768px) {
  .contact {
    &__form {
      padding: $spacing-medium * 0.75;
      border-radius: $spacing-medium * 0.75;

      label {
        display: block;
      }

      .contact__label--textarea {
        margin-bottom: -0.15rem;
      }

      input, textarea, button {
        padding: 0.4rem;
        font-size: 0.7rem;
      }
    }
  }
}

@media (min-width: 360px) and (min-height: 1000px) {
  .contact {
    &__form {
      padding: $spacing-medium;
      border-radius: $spacing-medium;

      input, textarea, button {
        padding: 0.5rem;
        font-size: 0.8rem;
      }
    }
  }
}

