.footer {
  color: $color-neutral;
  text-align: center;
  padding: var(--spacing);

  a {
    color: $color-neutral;
  }

  &__social.box--two {
    max-width: 10rem;
    padding: calc(var(--spacing) * 0.75);
    margin: auto;
  }
}
