.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;

  &__inner {
    display: block;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 17px 17px;
    background-color: $color-neutral;
    padding: $spacing * 0.75;
    flex-grow: 0;
    svg {
      display: block;
      height: 1.8rem;
    }
  }
}
