.nav {
  position: fixed;
  bottom: var(--spacing, 0.5rem);
  right: var(--spacing, 0.5rem);
  z-index: 1000;

  ul, li {
    padding: 0;
    margin: 0;
    display: block;
  }

  ul {
    padding: var(--spacing, 0.5rem);
    > li:not(:first-child) {
      margin-top: calc(var(--spacing, 0.5rem) / 2);
    }

    a {
      color: $color-neutral-text;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__links {
    display: none;
    opacity: 0;
    position: absolute;
    bottom: 3.5rem;
    right: 0;
    width: 10rem;
    background-color: $color-neutral;
    border-radius: $content-border-radius;
    padding-block-start: var(--spacing, 0.5rem);
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
  }

  &.closed &__links {
    animation: nav-links-closed 0.3s forwards;
    display: none;
  }

  &.open &__links {
    display: block;
    animation: nav-links 0.3s forwards;
  }

  &__button {
    height: 2.5rem;
    width: 2.5rem;
    background-color: $color-neutral;
    border-radius: 50%;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@keyframes nav-links {
  0% {
    display: block;
  }
  2% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nav-links-closed {
  0% {
    opacity: 1;
  }
  98% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
