$font-family: Assistant, sans-serif;
$font-family-headings: Yrsa, serif;
$font-size-320: 20px;
$font-size-768: 22px;
$font-size-992: 22px;
$font-size-1200: 24px;
$font-size-1500: 30px;

@import "../global";

/* Page specific */

.info-home {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--component-spacing, 0.5rem) * 3);
  justify-content: center;
}

.box {
  &--one, &--two {
    border-radius: $content-border-radius;
    padding: calc(var(--spacing, 0.5rem) * 1.5);

    h1, h2, h3, h4, h5 {
      display: block;
      margin-top: -0.15em;
      margin-bottom: -0.35em;
    }
  }
}

.box--one {
  background: $content-bg;
  background-blend-mode: $content-bg-blend;
  backdrop-filter: $content-bg-filter;
  color: $color-neutral;
}

.box--two {
  background: $content-bg-alt;
  backdrop-filter: $content-bg-filter-alt;

  h1, h2, h3, h4, h5 {
    color: $color-one;
  }
}

@media (--md-viewport) {
  .info-home {
    grid-template-columns: 1fr 1fr;
  }
}

@import "../macros/infoBox";
@import "../macros/horizInfoBox";
@import "../partials/who";
@import "../partials/pageBackground";

/* Overrides */


.info-box--home {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: calc(var(--spacing, 0.5rem) * 3) calc(var(--spacing, 0.5rem) * 2);
  height: 100%;
}



