$font-family: Assistant, sans-serif;
$font-family-headings: Yrsa, serif;
$font-size-320: 20px;
$font-size-768: 22px;
$font-size-992: 22px;
$font-size-1200: 24px;
$font-size-1500: 30px;

@import "../global";
@import "../global/index";
@import "../macros/infoBox";
@import "../partials/_pageBackground.scss";

/* Page specific */

.info-home {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $spacing-large;
  justify-content: center;
}

@media (--md-viewport) {
  .info-home {
    grid-template-columns: 1fr 1fr;
  }
}

/* Overrides */


.info-box--home {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $spacing-medium * 1.5 $spacing-medium;
}



