{% from "../macros/_socialIcons.njk" import socialIcons %}
{% macro nav(items, class) %}
    <nav class="nav">
        <div class="nav__links">
            {% for item in items %}
                <a href="{{ item.url }}">{{ item.text }}</a>
            {% endfor %}
            <div class="nav__social">
                {{ socialIcons('nav') }}
            </div>
        </div>
        <div class="nav__button">
            {% include "../partials/_hamburger.njk" %}
        </div>
    </nav>
{% endmacro %}
