{% extends "../_layouts/_base.njk" %}

{% from "../_includes/macros/_navigation.njk" import nav %}

{% block main %}
    {% include "../_includes/partials/_header.njk" %}
    {% call nav(navigation, '') %}
    {% endcall %}
    {% block content %}

    {% endblock %}
    {% include "../_includes/partials/_footer.njk" %}
{% endblock %}
