{% extends "../_layouts/_base.njk" %}

{% block main %}
    {% include "../_includes/partials/_header.njk" %}
    {% include "../_includes/partials/_navigation.njk" %}
    {% block content %}

    {% endblock %}
{% endblock %}
