---
permalink: "index.html"
---

{% extends "../_layouts/_withHeaderAndNav.njk" %}

{% from "../_includes/macros/_infoBox.njk" import infoBox %}
{% from "../_includes/macros/_horizInfoBox.njk" import horizInfoBox %}

{% block content %}
    {% include "../_includes/partials/_pageBackground.njk" %}
    <main class="main">
        <section class="info-home container-fluid">
            {% call infoBox("Need a website?", { text: "Get in Touch!", url: "#getintouch"}, "box--one info-box--home") %}
                <p>We can help out, the sky’s the limit...</p>
                <p>- Basic <strong>information site</strong> to high quality <strong>brochure sites</strong></p>
                <p>- <strong>E-commerce</strong> sites from a simple store to stock management integrations</p>
                <p>- Completely <strong>bespoke</strong> development, wherever your imagination takes you!</p>
            {% endcall %}
            {% call infoBox("Need advice?", { text: "Get in Touch!", url: "#getintouch"}, "box--one info-box--home") %}
                <p>Got an idea for a project but no idea where to start?</p>
                <p>Had quotes from web development companies or freelancers, but don’t know who to choose?</p>
                <p>Don’t know if what you’re being told by your existing web development agency is realistic?</p>
                <p><strong>No problem!</strong></p>
            {% endcall %}
        </section>
        <div class="container-fluid">
            {% include "../_includes/partials/_who.njk" %}
        </div>
        <div class="container-fluid space-items">
            {% call horizInfoBox("Design") %}
                <p>We’ll get to know you, your company, what makes you tick.</p>
                <p>We want to express your brand identity right into the heart of the design of the web site.</p>
                <p>Your potential customers should know exactly what you are about within seconds of hitting your
                    homepage.</p>
            {% endcall %}
            {% call horizInfoBox("Development") %}
                <p>We'll work with you to choose the right software for the job.</p>
                <p>Our mantra is "simplifying complexity" for a reason. Why use WordPress if you don't need all the
                    plugins? Why do a complete custom build if other simpler solutions are out there?</p>
                <p>We use the latest tools, wherever we can, to help speed up development and ensure your site's code
                    isn't old before it's even released.</p>
            {% endcall %}
            {% call horizInfoBox("Marketing") %}
                <p>If we build it, they will come... because we'll build marketing into your online presence the ground
                    up.</p>
                <p>Search engine optimised? Check. Social media channels? Check. Content to make your swoon? You
                    betcha.</p>
                <p>We don't see the point in creating works of art nobody will see. So, we have a vested interest in
                    making sure customers click through for years to come.</p>
                <a class="reflink" name="getintouch" id="getintouch"></a>
            {% endcall %}
        </div>
        <section class="container-fluid get-in-touch">
            <header>
                <h1>Get in touch</h1>
            </header>
            {% include "../_includes/partials/_contact.njk" %}
        </section>
    </main>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/assets/index.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/assets/index.js"></script>
    <script src="/assets/vendor.js"></script>
{% endblock %}
