---
permalink: "index-v2.html"
---

{% extends "../_layouts/_withHeaderAndNav.njk" %}

{% block content %}
    {% include "../_includes/partials/_pageBackground.njk" %}
    <main class="main">
        <section class="info-home container-fluid">
            <article class="info-box box--one info-box--home">
                <header>
                    <h1>Need a website?</h1>
                </header>
                <div class="info-box-content">
                    <p>We can help out, the sky’s the limit...</p>
                    <p>- Basic <strong>information site</strong> to high quality <strong>brochure sites</strong></p>
                    <p>- <strong>E-commerce</strong> sites from a simple store to stock management integrations</p>
                    <p>- Completely <strong>bespoke</strong> development, wherever your imagination takes you!</p>
                </div>
                <footer>
                    <a href="#" class="button">Get in Touch!</a>
                </footer>
            </article>
            <article class="info-box info-box--home box--one">
                <header>
                    <h1>Need a advice?</h1>
                </header>
                <div class="info-box__content">
                    <p>Got an idea for a project but no idea where to start?</p>
                    <p>Had quotes from web development companies or freelancers, but don’t know who to choose?</p>
                    <p>Don’t know if what you’re being told by your existing web development agency is realistic?</p>
                    <p><strong>No problem!</strong></p>
                </div>
                <footer>
                    <a href="#" class="button">Get in Touch!</a>
                </footer>
            </article>
        </section>
        <div class="container-fluid">
            <article class="info__box box--two info__box--center">
                <header>
                    <h1>Who are Fractal Dimensions?</h1>
                </header>
                <div class="info__box-content">
                    <div class="who__image">

                    </div>
                    <div class="who__intro">
                        <p>OK, let’s get this out in the open...</p>
                        <p>Right now, it’s just me, the guy in the picture. Everyone has to start somewhere, right?</p>
                        <p>I am, of course, not without ambition and will grow to meet the needs of demand. I know
                            designers and marketers that are more than happy to work together creatively to provide you
                            with a fantastic service. I’ll do the leg work with them, so everything runs seamlessly.</p>
                        <p>I have been developing websites since the late 90s and have been in love with what can be
                            achieved on the web ever since and it’s only getting better! I have a vast amount of
                            experience, working on small scale content management system based sites to multi million
                            pound turnover ecommerce sites.</p>
                        <p>It’s important that all work is completed to a high standard. So if you ever decide to move
                            away, the next person that takes over the code can do so with ease.</p>
                    </div>
                </div>
            </article>
        </div>
    </main>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/assets/index.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/assets/home.js"></script>
{% endblock %}
