---
permalink: "index.html"
---

{% extends "../_layouts/_withHeaderAndNav.njk" %}

{% from "../_includes/macros/infoBox.njk" import infoBox %}

{% block content %}
    {% include "../_includes/partials/_pageBackground.njk" %}
    <main class="main">
        <section class="info-home container-fluid">
            {% call infoBox("Need a website?", { text: "Get in Touch!", url: "#"}, "box--one info-box--home") %}
                <p>We can help out, the sky’s the limit...</p>
                <p>- Basic <strong>information site</strong> to high quality <strong>brochure sites</strong></p>
                <p>- <strong>E-commerce</strong> sites from a simple store to stock management integrations</p>
                <p>- Completely <strong>bespoke</strong> development, wherever your imagination takes you!</p>
            {% endcall %}
            {% call infoBox("Need advice?", { text: "Get in Touch!", url: "#"}, "box--one info-box--home") %}
                <p>Got an idea for a project but no idea where to start?</p>
                <p>Had quotes from web development companies or freelancers, but don’t know who to choose?</p>
                <p>Don’t know if what you’re being told by your existing web development agency is realistic?</p>
                <p><strong>No problem!</strong></p>
            {% endcall %}
        </section>
        <div class="container-fluid">
            {% include "../_includes/partials/_who.njk" %}
        </div>
    </main>
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="/assets/index.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/assets/index.js"></script>
{% endblock %}
