@import "global/variables";

/*
Global partials
*/
@import "partials/header";
@import "partials/nav";
@import "macros/socialIcons";
@import "partials/hamburger";
@import "partials/footer";


html {
  height: -webkit-fill-available;
  font-family: $font-family;
  font-size: $font-size-320;
  padding: 0;
  margin: 0;
}

body {
  min-height: -webkit-fill-available;
  background: $main-gradient;
  color: $color-neutral-text;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-headings;
}

h1 {
  font-size: 1.4rem;
}

p {
  font-size: 0.8rem;
  font-weight: 400;
}

.hidden {
  display: none !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.objf-top {
  object-position: top;
}

.objf-center {
  object-position: center;
}

.objf-bottom {
  object-position: bottom;
}

.main {
  position: relative;
  margin-top: calc(var(--component-spacing, 0.5rem) * 5);

  & > *:not(:first-child) {
    margin-top: calc(var(--component-spacing, 0.5rem) * 3);
  }

  & > *:last-child {
    margin-bottom: calc(var(--component-spacing, 0.5rem) * 2);
  }
}

.container-fluid, .container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: var(--spacing);
  padding-left: var(--spacing);
  max-width: var(--lg-min, 75rem);
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: inline-block;
  background-color: $color-neutral;
  color: $color-two;
  font-family: $font-family-headings;

  // Padding top / bottom different due to a lot of extra spacing at bottom of the Yrsa font
  padding: calc(var(--spacing) * 0.75) var(--spacing) calc(var(--spacing) * 0.65);
  border-radius: $content-border-radius;
  font-weight: bold;
  text-decoration: none;
  line-height: 1;
  border: 2px solid white;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    background-color: $color-two;
    color: $color-neutral;
    transition: 0.4s;
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}

.space-items {
  & > * {
    margin: 0;
  }

  & > *:not(:first-child) {
    margin-top: calc(var(--spacing) * 2);
  }
}

.cc-window {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-radius: $content-border-radius;
  backdrop-filter: blur(10px);
  background-blend-mode: darken;
  background-color: rgba(71, 15, 73, 0.8)!important;
  color: $color-neutral!important;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  a {
    color: $color-neutral!important;
  }
}

.cc-message {
  margin: calc(var(--spacing) * 0.8) !important;
  font-size: 16px;
}

.cc-btn {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

@media (--sm-viewport) {
  html {
    font-size: $font-size-768;
  }
  .container-fluid {
    padding-right: calc(var(--spacing) * 2);
    padding-left: calc(var(--spacing) * 2);
  }
}

@media (--md-viewport) {
  html {
    font-size: $font-size-1200;
  }
}

@media (--lg-viewport) {
  html {
    font-size: $font-size-1500;
  }
}

