@import "global/variables";

/*
Global partials
*/
@import "partials/header";
@import "partials/nav";
@import "partials/hamburger";


html {
  height: -webkit-fill-available;
  font-family: $font-family;
  font-size: $font-size-320;
  padding: 0;
  margin: 0;
}

body {
  min-height: -webkit-fill-available;
  background-color: $color-neutral;
  color: $color-neutral-text;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $font-family-headings;
}

.hidden {
  display: none !important;
}

.grecaptcha-badge {
  visibility: hidden;
}

.objf-top {
  object-position: top;
}

.objf-center {
  object-position: center;
}

.objf-bottom {
  object-position: bottom;
}

.main {
  & > *:not(:first-child) {
    margin-top: $spacing-medium;
  }

  & > *:last-child {
    margin-bottom: $spacing-medium;
  }
}

.cc-window {
  border: 1px solid $color-two;
}

@media screen and (min-width: 768px) {
  html {
    font-size: $font-size-768;
  }
}

@media screen and (min-width: 992px) and (min-height: 900px) {
  html {
    font-size: $font-size-992;
  }
}

@media screen and (min-width: 1200px) and (min-height: 900px) {
  html {
    font-size: $font-size-1200;
  }
}

@media screen and (min-width: 1500px) and (min-height: 1200px) {
  html {
    font-size: $font-size-1500;
  }
}

