.frames {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  overflow: hidden;
  position: relative;

  &__frame {
    position: absolute;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    overflow: hidden;
  }

  &__next {
    position: absolute;
    bottom: 0;
    left: calc(50% - 15px - #{$spacing});
    padding: $spacing;
    cursor: pointer;
    animation: moveArrow 1.5s alternate infinite;
    z-index: 100;
    filter: contrast(0.5);
  }
}

@keyframes moveArrow {
  0% {
    bottom: 0;
  }
  100% {
    bottom: -$spacing / 2;
  }
}
