.info-box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-self: center;
  width: 100%;
  max-width: 30rem;
  padding: calc(var(--spacing, 0.5rem) * 1.5);

  & > *:not(:first-child) {
    margin-top: var(--spacing, 0.5rem);
    margin-bottom: 0;
  }
}

@media (--md-viewport) {
  .info-box {
    max-width: none;
  }
}
