<a href="#" class="banner">
    <p class="banner__heading">
        Want a shiny new website?
    </p>
    <p class="banner__heading__small">(or need help maintaining an existing one?)</p>
    <p>We can help you out! Get in touch by clicking <em>here</em></p>
</a>
