<div class="contact">
    <div class="contact__details">
        <ul>
            <li><span>Email:</span> <a href="mailto:hello@fractaldimensions.io">hello@fractaldimensions.io</a></li>
            <li><span>Telephone:</span> <a href="tel:+447891101764">+44 (0)7891 101764</a></li>
        </ul>
    </div>
    <div class="contact__form">
        <form
                name="contact"
                method="post"
                action="/thanks/"
                data-netlify="true"
                data-netlify-recaptcha="true"
                onSubmit="return handleContactSubmit()"
        >
            <label for="name">
                <span>Name*:</span>
                <input name="name" type="text" placeholder="Name" required>
            </label>
            <label for="email">
                <span>Email*:</span>
                <input name="email" type="email" placeholder="Email" required>
            </label>
            <label for="name" class="contact__label--textarea">
                <span>Message:</span>
                <textarea name="message" placeholder="Message"></textarea>
            </label>
            <label for="send" aria-label="Send">
                <button type="submit">Send Message</button>
            </label>
        </form>
    </div>
</div>
