<div class="footer">
    <p>&copy; {% currentYear %} Fractal Dimensions Ltd.</p>
    <p>Created with <a href="https://www.11ty.dev">Eleventy</a> hosted on <a href="https://www.netlify.com">Netlify</a></p>
</div>
