{% from "../macros/_socialIcons.njk" import socialIcons %}
<div class="footer">
    <p>&copy; {% currentYear %} Fractal Dimensions Ltd.</p>
    <div class="footer__social box--two">
        {{ socialIcons('footer') }}
    </div>
    <p>Created with <a href="https://www.11ty.dev">Eleventy</a> hosted on <a href="https://www.netlify.com">Netlify</a>
    </p>
    <p>
        <a href="https://www.iubenda.com/privacy-policy/14720823"
           className="iubenda-white iubenda-noiframe iubenda-embed iubenda-noiframe "
           title="Privacy Policy ">Privacy Policy</a>
    </p>
</div>
