<article class="hero">
    <a href="#" class="hero__image_container">
        <picture>
            <source type="image/webp" src="/images/laptop-development.webp"/>
            <img src="/images/laptop-development.jpg" alt="" class="hero__image">
        </picture>
    </a>
    <div class="hero__container">
        <div class="container-fluid">
            <div class="hero__tag">
                <h2>Content Management Systems</h2>
            </div>
            <h1>How do you choose the right CMS for your website?</h1>
        </div>
    </div>
</article>
