<nav class="nav">
    <ul class="nav__links">
        <li><a href="#frame-1">Home</a></li>
        <li><a href="#frame-2">Who are we?</a></li>
        <li><a href="#frame-3">How can we help?</a></li>
        <li><a href="#frame-4">Get in touch</a></li>
    </ul>
    <div class="nav__button">
        {% include "./_hamburger.njk" %}
    </div>
</nav>
